# Python virtual environment
.venv/

# Python cache files
__pycache__/
*.py[cod]

# Raw and processed datasets
data/raw/*
data/processed/*

# Keep empty data directories in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# Temporary download files
*.part

# Jupyter temporary files
.ipynb_checkpoints/

# Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Generated analytical datasets
data/aggregated/*